:root {
    --white: #ffffff;
    --gold: #d4af37;
    --soft-gold: #fdf6e3;
    --text-dark: #333;
    --accent: #f4e2d8;
	
	--navy: #1a1a40;
    --pink: #E91E63;
    --white: #ffffff;
    --soft-pink: #ffe9f1;

    --transparent-gold: rgba(212, 175, 55, 0.1);
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    color: var(--text-dark);
    background-color: var(--white);
}

/* footer stuff */

.footer{
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
}

footer p{
    font: 1em sans-serif;
}

/* Responsive Styles */
@media (max-width: 600px) {

    .intro h1 {
        font-size: 2rem;
    }

    .info h1 {
        font-size: 2rem;
    }

    .rsvp h1 {
        font-size: 1.8rem;
    }

    .cta a {
        font-size: 0.9rem;
        padding: 12px 20px;
    }
        .hero-content h1{
        font-size: 2rem
        
    }
    
 .hero {
    height: 80vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content h6,
  .hero-content h5 {
    font-size: 1rem;
  }

  .hero-content {
    padding: 10px;
  }
}