
/* ____________[Navigation stuff]________________ */
nav{
    background-color: var(--elsa);
    color:var(--moana);
    grid-column: span; 
    text-align: center;
}
nav ul{
    display:none;
}

/* ____[NAV NOTE{ this gets rid of dots in the navigation bar}]____ */
nav ul li{
    list-style: none;  
    
}
nav ul li a{
    display:block;
    color:var(--moana);
    padding: 1rem;
    
}
nav ul li a:hover{
    color:var(--elsa);
    background-color: var(--moana);
    font-weight: bold;  
}

/*_____________________[Hamburger/Mobile Navigation button]__________________ */
#hamburger-button{
    background-color:var(--cinderella);
    padding:.5rem;
}
#hamburger-button::before{ 
    content: "☰";   
}
/*_____________________[nav when it's closed]____________________ */
#hamburger-button.open::before{
    content: 'x';
}

/* ____________________[nav when its opens]_______________________*/
nav ul.open{
    display:flex;
    flex-direction:column;
    justify-content: space-around;

}
nav ul.open li{
    /* border-style:double; */
    border: double .1rem var(--mulan);
}